<Configuration status="WARN">
    <Appenders>
        <File name="FILE" fileName="/dev/null" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} [%t] %style{%logger{15}}{cyan} - %uMDC - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO" includeLocation="false">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
